<header>
    <section class="nav-links">
        <div class="header-icon">
            <a href="/listing">
                <i class="fa-regular fa-compass"></i>
            </a>
        </div>
        <div class="links">
            <a href="/listing">Home</a>
            <a href="/listing/addList">Create</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
    </section>

    <section class="search">
            <form class="home-form" action="">
                <input class="search-input" type="text" placeholder= "Search" name="search">
                <p><i class="fa-solid fa-magnifying-glass"></i></p>
                <button class="submit-btn" type="submit">Search</button>
            </form>
    </section>
</header>
<div class="layout-fix"></div>