<header>
    <section class="nav-links">
        <div class="header-icon">
            <a href="/listing">
                <i class="fa-regular fa-compass"></i>
            </a>
        </div>
        <div class="links">
            <a href="/listing">Home</a>
            <a href="/listing/addList">Create</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>
        </div>
    </section>

    <section class="auth">
        <% if(currUser) { %>
            <p><a href="/auth/logout">Logout</a></p>
        <% } else {%>
            <p><a href="/auth/signUp">Signup</a></p>
            <p><a href="/auth/login">Login</a></p>
        <% } %>
    </section>
</header>
<div class="layout-fix"></div>