<% layout('layouts/boilerplate.ejs') %>
<% block('title').append('<title>Edit Listing</title>') %>
<% block('css').append('<link rel="stylesheet" href="/styles/index.css">') %>
<% block('css').append('<link rel="stylesheet" href="/styles/form.css">') %>
        <div class="container">
                <div class="ind-container">
                    <form action="/addList" method="post">
                        <label>
                            Title
                            <textarea name="listing[title]"><%= listing.title %></textarea>
                        </label>

                        <label>
                            Description
                            <textarea name="listing[description]" rows="10"><%= listing.description %></textarea>
                        </label>

                        <label>
                            Image
                            <textarea class="img-textarea" name="listing[image][url]" rows="6"><%= listing.image.url %></textarea>
                        </label>

                        <label>
                            Price
                            <input id="slider" type="range" name="listing[price]" min="0" max="10000" step="100">
                            <p id="slider-value"><strong>Price: &#8377; <%= listing.price %></strong></p>
                        </label>

                        <label>
                            Location
                            <input type="text" name="listing[location]" value="listing.location">
                        </label>

                        <label>
                            Country
                            <input type="text" value="listing.country" name="listing[country]">
                        </label>

                        <button class="buttons btns" type="submit">Update</button>
                    </form>
                </div>
        </div>
    <% block('script').append('<script src="/js/slider.js"></script>') %>

    