<% layout('layouts/boilerplate.ejs') %>
<% block('title').append('<title>New Listing Form</title>') %>
<% block('css').append('<link rel="stylesheet" href="/styles/index.css">') %>
<% block('css').append('<link rel="stylesheet" href="/styles/form.css">') %>
        <div class="container">
                <div class="ind-container">
                    <form class="listingForm" action="/listing/addList" method="post">
                        <label>
                            <p>Title</p>
                            <textarea name="listing[title]" placeholder="e.g. Cozy Beachfront Cottage" required></textarea>
                        </label>

                        <label>
                            <p>Description</p>
                            <textarea name="listing[description]" rows="5" placeholder="e.g. Escape to this charming beachfront cottage for a relaxing getaway. Enjoy stunning ocean views and easy access to the beach." required></textarea>
                        </label>

                        <label>
                            <textarea class="img-textarea" name="listing[image][url]" placeholder="e.g. Paste the url of your image" rows="4"></textarea>
                        </label>

                        <label>
                            <p>Price</p>
                            <input id="slider" type="range" name="listing[price]" min="0" max="10000" step="100">
                            <p id="slider-value"><strong>Price: &#8377; 5000</strong></p>
                        </label>

                        <label>
                            <p>Location</p>
                            <input type="text" placeholder="e.g. New York City" name="listing[location]" required>
                        </label>

                        <label>
                            <p>Country</p>
                            <input type="text" placeholder="e.g. United States" name="listing[country]" required>
                        </label>

                        <button class="buttons btns" type="submit">Add Listing</button>
                    </form>
                </div>
        </div>
    <% block('script').append('<script src="/js/slider.js"></script>') %>

    