<% layout('layouts/boilerplate.ejs') %>
<% block('title').append('<title>About | StayNest</title>') %>
<% block('css').append('<link rel="stylesheet" href="/styles/index.css"') %>
<% block('css').append('<link rel="stylesheet" href="/styles/abo.css"') %>
  <header>
    <h1>About StayNest</h1>
  </header>

  <div class="container">
    <section>
      <h2>What is StayNest?</h2>
      <p>
        
      </p>
      <ul>
        <li>Technologies: MongoDB, Express.js, Node.js, HTML/CSS/JS, Passport.js, Cloudinary, Mapbox</li>
        <li>Features: User authentication, session handling, geolocation maps, image uploads, CRUD operations</li>
        <li>Deployed: Publicly accessible via Render</li>
      </ul>
    </section>

    <section>
      <h2>Behind the Project</h2>
      <img src="https://avatars.githubusercontent.com/u/124008698?v=4" alt="Aaditya Shah" class="profile-pic"/>

    </section>





    <section>
      <h2>Contact</h2>
      <p>
        Want to collaborate or have feedback? Feel free to connect with me at
        <a href="mailto:shahaa01@gettysburg.edu">shahaa01@gettysburg.edu</a>.
      </p>
    </section>
  </div>

  <div class="footer">
    &copy; 2025 Aaditya Shah | StayNest Project
  </div>

