body .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    justify-content:unset !important;
}

.ind-container {
    height: 80%;
    max-height: fit-content;
    margin: 0;

}

.listingForm {
    gap: 1.1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listingForm label {
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 100%;
}

.listingForm label p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

textarea {
    resize: none;
    width: 90%;
    padding: 0.4rem;
    border-radius: 10px;

}

.img-textarea {
    resize: none;
    min-height: fit-content;
    padding: 0.4rem;
}

textarea:focus, input:focus {
    border-color: #FF385C;
    outline: none;
}

input {
    height: 2rem;
    padding: 0.4rem;
    width: 90%;
    border-radius: 10px;


}

input[type="range"] {
    accent-color: #FF385C;
}

.ind-container {
    transform: scaleY(1);
}

#slider-value {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    color: rgb(130, 24, 2);
}